
/* todo : review the font familly and size */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {

    /*========== Primary colors ==========*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Soft-Blue: hsl(220, 98%, 80%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --primary-soft-red: hsl(358, 79%, 66%);
    --primary-pale-red: hsl(357, 100%, 86%);

    /*========== Light Theme colors ==========*/
    --LT-Very-Light-Gray: hsl(0, 0%, 98%);
    --LT-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --LT-Light-Grayish-Blue: hsl(233, 11%, 84%);
    --LT-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --LT-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);


    /*========== Dark theme colors ==========*/
    --DT-Very-Dark-Blue: hsl(235, 21%, 11%);
    --DT-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --DT-Light-Grayish-Blue: hsl(234, 39%, 85%);
    --DT-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --DT-Soft-Grayish-Blue: hsl(234, 11%, 52%);
    --DT-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --DT-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);


    /*========== Font and typography ==========*/
    /* todo : :review this */
    --body-font:'Rubik', sans-serif; 

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --body-font-size: 1.125rem ;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*{
    /*padding: 0!important;*/
    margin: 0;
}
body{
    padding: 0!important;
    /*background-color: deeppink;*/
}

.collapsing-app-bar{
    background-image: url("../images/bg-mobile-light.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    height: fit-content;
    background-size: 100% 100%;
    background-position: left top;
    width: 100%;
}

.toolbar{
    background-color: transparent;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
 }

.collapsing-app-bar > .toolbar{
    max-width: 700px;
    margin: 0 auto!important;
    padding-top: 10px; height: 60px;
    display: none;
}

.app-name{
    margin-left: 10px;
    color: white;
}

.dark-mode-toggle{
    margin-right: 10px;
}

.app-bar-content{
    background-color: transparent;
    min-height: 150px;
    width: 100%;
    /*min-width: 360px;*/
    max-width: 700px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    /*border: solid red 1px;*/
}

.main-content{
    /*background-color: rgba(0,0,0,.1);*/
    height: calc(100% - 60px);
    /*position: absolute;*/
    width: 100%;
    top: 260px;
    margin-bottom: 20px;
    overflow: auto;
    /*padding-bottom: 30px!important;*/
}

.main-content > span {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    color: var(--DT-Dark-Grayish-Blue);
}

.search{
    /*border:solid red 1px;*/
    position: relative;
    display: flex;
    height: 40px;
    overflow: hidden;
    justify-content: space-between;
    border-bottom: solid var(--LT-Very-Light-Grayish-Blue) 1px;

}

.search > input{
    border: 0;
    outline: 0;
    width: 100%;
    height: 40px;
    padding: 0 40px 0 35px;
    color: var(--DT-Soft-Grayish-Blue);

}

.search > i{
    margin-top: 5px;
    margin-left: 5px;
    color: var(--DT-Soft-Grayish-Blue);

}

.search > button, .search > i{
    position: absolute;
    top: 8px;
}

.search > i{
    left: 5px;
}

.search > button{
    right: 5px;
}

.search-submit{
    background-color: rgba(0,0,0,.07) !important;
}

.todo{
    border-bottom: solid var(--LT-Very-Light-Grayish-Blue) 1px;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
}

.todo:last-child{
    border-bottom: 0!important;
}

.todo .radio{
    margin-top: 10px;
    margin-left: 0!important;
    display: flex!important;
    align-items: center;
    align-content: center
}

.todo .radio img{
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto
}

.todo .radio.checked{
    background-color: black;
}

.title-container{
    display: flex;
    justify-content: space-between;

}

.description-container,
.title-container .title{
    /*border: solid var(--LT-Dark-Grayish-Blue) 1px;*/
    border-radius: 4px;
    width: calc(100% - 75px);
    margin-top: 5px;
    padding: 5px;
    text-overflow-ellipsis: end;
}

.description-container ,
.title-container .title {
    /*border: solid var(--LT-Dark-Grayish-Blue) 1px;*/
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    color: var(--DT-Soft-Grayish-Blue);
    transition: all ease-in-out .15s;
}

.title-container .title {
    font-weight: var(--font-bold);
    margin-top: 8px;
}
.description-container:focus,
.title-container .title:focus{
    border: solid var(--LT-Dark-Grayish-Blue) 2px!important;
    transition: all ease-in-out .15s;
    outline: var(--LT-Dark-Grayish-Blue);
}


.todo .controls{
    border: 0;
    padding: 25px 3px 5px 0 !important;
    background-color: white!important;
    display: none;
}

.description-container{
    border-radius: 4px;
    margin: 5px 0 5px 33px;
    display: none;
}

.todo > input{
    display: none;
}


/*todo add fade effect on details once the block are shown */
.todo>input[name=todo-details-toggle]:checked ~ .description-container{
    display: block!important;
}

.todo>input[name=todo-details-toggle]:checked ~ .controls{
    display: flex!important;
}

.todo>input[name=content-editable-toggle]:checked ~ .title-container > .title{
    border: solid var(--LT-Dark-Grayish-Blue) 1px;
}

.todo>input[name=content-editable-toggle]:checked ~ .description-container{
    border: solid var(--LT-Dark-Grayish-Blue) 1px;
}


/*todo : responsive behavior*/
.visible-sm{display: flex!important;}
.visible-xs{display: none!important;}
@media screen and (max-width: 700px){
    .visible-sm{display: none!important;}
    .visible-xs{display: flex!important;}
    .todo-list{
        margin-right: 10px!important;
        margin-left: 10px!important;
    }


}


/*todo : scroll behavior area */
.main-content::-webkit-scrollbar,
.main-scene::-webkit-scrollbar {
    width: 0;
}

.main-content::-webkit-scrollbar-track,
.main-scene::-webkit-scrollbar-track {
    background: rgba(112, 112, 112, .2);
}

.main-content::-webkit-scrollbar-thumb,
.main-scene::-webkit-scrollbar-thumb {
    background-color: rgba(112, 112, 112, .5);
    border-radius: 20px;
}

.queue::-webkit-scrollbar {
    width: 3px;
}

.queue::-webkit-scrollbar-track {
    background: rgba(112, 112, 112, .2);
}

.queue::-webkit-scrollbar-thumb {
    background-color: rgba(112, 112, 112, .5);
    border-radius: 20px;
}




















.main-scene{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*display: flex;*/
    justify-content: space-around;
    z-index: var(--z-tooltip);
    overflow-y: auto;
}


.add-todo{
    /*border: solid white 1px;*/
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    height: fit-content;
    margin: 40px 10px 10px 10px;
    /*margin-bottom: 30px;*/
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 6px var(--LT-Very-Dark-Grayish-Blue);
    /*box-shadow: 0 0 6px var(--LT-Light-Grayish-Blue); todo : use it once the user is creating task*/
}

.add-todo> div:last-child{ /*c'est cette div qui va setendre et se retracter*/
    /*border: solid black 2px;*/
    /*background-color: aqua;*/
    width: calc(100% - 48px);
    display: block;
    overflow: hidden;
    /*height: 60px;*/
}

.add-todo .title{
    /*border: solid red 1px;*/
    min-height: 20px;
    font-size: var(--body-font-size);
    padding: 20px 20px 15px 10px!important;
    border: 0;
    outline: 0;
    color: var(--LT-Dark-Grayish-Blue);
    font-weight: var(--font-bold);
}

.radio{
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: solid var(--LT-Light-Grayish-Blue) 1px;
    margin: 15px 0 10px 20px;
}

.scrollable{
    overflow-y: auto;
    max-height: 300px;
    /*border-left: solid black 1px;*/
}
.content{
    /*border: solid black 1px;*/
    width: 100%;
    word-wrap: break-word;
}

.description{
    /*border-top: solid black 1px;*/
    min-height: 100px;
    padding: 15px 20px 15px 10px!important;
    font-size: .9rem;
    border: 0;
    outline: 0;
    color: var(--LT-Dark-Grayish-Blue);
    font-weight: var(--font-regular);

    /*background-color: white;*/
}

.controls{
    border-top: solid var(--LT-Light-Grayish-Blue) 1px;
    padding: 10px!important;
    display: flex;
    justify-content: space-between;
}

.queue{
    height: 500px;
    overflow: auto;
    /*border: solid blueviolet;*/
}

.todo-list{
    background-color: white;
    border-radius: 4px;
    border: solid var(--LT-Very-Light-Grayish-Blue) .5px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 0 6px var(--LT-Very-Light-Gray),0 3px 60px var(--LT-Very-Light-Gray);
    max-width: 680px;

    /*margin-bottom: 20px;*/
    /*box-shadow: 0 6px 50px 1px var(--LT-Light-Grayish-Blue);*/
}

.navigation{
    border-top: solid var(--LT-Very-Light-Grayish-Blue) 1px;
    padding: 15px 20px!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.state-btn-container{
    display: flex;
    justify-content: space-around;
    /*border: solid red 1px;*/
}
.navigation > small{
    color: var(--DT-Soft-Grayish-Blue);
}
.state-btn-container > div{
    /*border:solid blue 1px;*/
    width: fit-content;

}

.state-btn-container{
    /*border: solid blue 1px;*/
    /*width: fit-content;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 10px 20px!important;
    background-color: white;
    border-radius: 4px;
    border: solid var(--LT-Very-Light-Grayish-Blue) .5px;
    overflow: hidden;
    margin: 0 10px 20px 10px;
}



/*======================= btns ==========================*/
.btn{
    border: 0;
    outline: 0;
    padding: 5px 10px!important;
    border-radius: 3px;
    background-color: transparent;
    margin-left: 5px;
    color: var(--DT-Soft-Grayish-Blue);
    transition: all ease-in-out .15s;
    cursor: pointer;
    font-weight: var(--font-bold);
    /*box-shadow: 1px 2px 3px rgba(0,0,0,.1);*/
}

.btn:hover{
    color: var(--DT-Very-Dark-Grayish-Blue);
    background-color: rgba(0,0,0,.05);

}

.btn:focus{
    color: var(--DT-Very-Dark-Grayish-Blue);
    background-color: rgba(0,0,0,.05);
}

.btn.disabled{
    opacity: .5;
    cursor: not-allowed;
}

.btn.active{
    background-color: rgba(0,0,0,.05);
    color: var(--Bright-Blue);
}

.btn.delete{
    /*background-color: var(--primary-soft-red) !important;*/
    /*color: white;*/
}

.btn.delete:hover{
    background-color: var(--primary-pale-red) !important;
    color: white;
    transition: all ease-in-out .15s;
}

.btn.delete:focus{
    background-color: var(--primary-pale-red) !important;
    color: white;
    transition: all ease-in-out .15s;
}

.btn.save{
    /*background-color: var(--Bright-Blue) !important;*/
    /*color: white;*/
}

.btn.save:hover{
    background-color: var(--Soft-Blue) !important;
    color: white;
    transition: all ease-in-out .15s;
}

.btn.save:focus{
    background-color: var(--Soft-Blue) !important;
    color: white;
    transition: all ease-in-out .15s;
}

.btn.toggle-details{
    height: fit-content;
    padding: 5px!important;
    margin-top: 10px
}

/*.app-mode-toggle:hover{*/
/*    background-color: rgba(0,0,0,.05);*/
/*}*/

